@import "tailwindcss";
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
}
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

[data-theme="light"] {
  .btn01 {
    background-color: none;
    border-color: black;
  }
  .btn01:hover {
    opacity: 50%;
  }

  .btn02 {
    background-color: black;
    color: white;
  }
  .btn02:hover {
    opacity: 50%;
  }
}

[data-theme="dark"] {
  .btn01 {
    background-color: none;
    border-color: white;
  }
  .btn01:hover {
    opacity: 50%;
  }

  .btn02 {
    background-color: white;
    color: black;
  }
  .btn02:hover {
    opacity: 50%;
  }
}

#root {
  width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}


