@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --NotoSans: "Noto Sans", sans-serif;
  --NunitoSans: "Nunito Sans", sans-serif;
  --point_pink: #fa347f;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  font-family: var(--NunitoSans);
}

/*文字設定*/
h1 {
  font-size: 18px;
  letter-spacing: .2rem;
}
h4 {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .1rem;
}
p {
  font-size: 14px;
  letter-spacing: 0.04rem;
}
.hint {
  font-size: 14px;
  opacity: 50%;
}
.point {
  font-size: 14px;
  color: var(--point_pink);
}

button{
  font-size: 14px;
}
