@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --NotoSans: "Noto Sans", sans-serif;
  --NunitoSans: "Nunito Sans", sans-serif;
  --point_pink: #FA347F;
}

body {
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  font-family: var(--NunitoSans);
}

/*文字設定*/
h1{
  font-size: 18px;
}
h4{
  font-size: 14px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
.hint{
  font-size: 14px;
  opacity: 50%;
}
.point{
  font-size: 14px;
  color: var(--point_pink);
}

/*button*/
button {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
